*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
}

body{
    font-family : 'montserrat' , sans-serif;
    color: #fff;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    height: 100vh;
}

.header{
    padding: 50px 20px 30px 20px;
    margin-top : 50px;
}
.header h1 {
    font-size : 50px;
    color : #fbb034;
    text-shadow: 1px 3px rgba(0,0,0,.9);
}
.header input {
    width: 100%;
    padding:10px;
    background:transparent;
    border : 0;
    outline: 0;
    border-bottom: 2px solid #fbb034;
    text-align: center;
    font-size: 20px;
    color:#f2f2f2;
}

.city{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0,0,0,.8);
}

.temp{
    font-size : 100px;
    margin-bottom: 15px;
    font-weight: 700;
    text-shadow: 1px 5px rgba(0,0,0,1);

}

.desc{
    font-size : 25px;
    font-style: italic;
    text-shadow: 1px3px rgba(0,0,0,.8);
    margin-bottom: 10px;
}

.minmax{
    font-size: 24px;
    text-shadow: 1px3px rgba(0,0,0,.8);
}


.bor{
    background-color: rgb(47, 118, 121);
    margin-top: 100px;
    padding-bottom : 40px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 10px 80px 10px rgb(185, 178, 178);
}
.hava {
    margin-bottom: 20px;
}